# Dashboard Network Configuration
RPC_ENDPOINT=https://evmrpc-testnet.0g.ai/
PRIVATE_KEY=0x... # Used for scanning events and wallet balance
INDEXER_URL=https://indexer-storage-testnet-turbo.0g.ai

# Frontend public variables
NEXT_PUBLIC_RPC_ENDPOINT=https://evmrpc-testnet.0g.ai/
NEXT_PUBLIC_REOWN_PROJECT_ID=e876020573e86c9d7d4c8f533f8d7b88 # Replace with your ID from cloud.reown.com
